
.casilla{
    
    border: 2px solid black;
    height: 45px;
    width: 45px;
}

table{
    border-spacing: 0px;
    border: 2px solid black;
}
.tablehead{
    border: none;
}
#gameInfo{
    margin-top: 20px;
    display: flex;
}

#vs{
    margin-left: 5px;
    margin-right: 5px;
   
}
.barco{
    background-color:blue;
}

#tabladiv{
    display: flex;
   justify-content: space-around;
}

.shotLoc{
    background-color: yellow;
}
.opponentShotLoc{
    background-color: yellow;
}
.opponentHitLoc{
    background-color: red;
}

#scoretable{
    border: 1px solid black;
}